@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-display: swap;
  src: url('./Poppins-Regular.woff2'), url('./Poppins-Regular.woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-display: swap;
  src: url('./Poppins-Medium.woff2'), url('./Poppins-Medium.woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-display: swap;
  src: url('./Poppins-SemiBold.woff2'), url('./Poppins-SemiBold.woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-display: swap;
  src: url('./Poppins-Bold.woff2'), url('./Poppins-Bold.woff');
}
